@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400; 500; 700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

:root {
  --bg-color: #ffffff;
  --color-primary: #006753;
  --color-quaternary: #003222;
  --color-secondary: #81d5bc;
  --color-tertiary: #15715d;
  --font-family: "DynaPuff", "Arial", "Helvetica", sans-serif;
  --font-family-secondary: "Roboto", "Arial", "Helvetica", sans-serif;
  --font-color: #ffffff;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family-secondary);
  height: auto;
  line-height: 1;
  overflow: hidden;
}

button {
  background-color: #15715d;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-secondary);
}


.contenedor {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

#contenedor-busqueda {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  color: var(--font-color);
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}


header {
  background-color: var(--color-primary);
  padding: 20px;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin: 20px;
  width: 30%;
}

label {
  font-weight: bold;
}


.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

p {
  font-family: var(--font-family-secondary);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

#resultado-busqueda {
  display: flex;
  margin-left: 20px;
}

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: center;
}