@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400; 500; 700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

:root {
  --bg-color: rgb(255, 255, 255);
  --color-primary: #469f92;
  --color-quaternary: #002921;
  --color-secondary: #00a4af;
  --color-tertiary: #5d93d7;
  --font-family: "DynaPuff", "Arial", "Helvetica", sans-serif;
  --font-family-secondary: "Roboto", "Arial", "Helvetica", sans-serif;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family-secondary);
  height: auto;
  line-height: 1;
  overflow: hidden;
}

button {
  background-color: var(--color-quaternary);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-secondary);
}

button {
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
  padding: 8px;
  width: 50%;
}

.card {
  align-items: center;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  transition: box-shadow 0.2s;
  width: 300px;
}

.card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.16);
}


.card img {
  display: block;
  height: 200px;
  object-fit: contain;
  object-position: center;
  width: 150px;
}
.contenedor {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.contenedor-filtro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

header {
  background-color: var(--color-primary);
  padding: 20px;
}


textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  padding: 8px;
  width: 70%;
}

label {
  font-weight: bold;
}

.listado-imagenes {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px;
  margin-top: 20px;
}


.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

p {
  font-family: var(--font-family-secondary);
  font-size: 14px;
  line-height: 1.5;
}

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: center;
}